
@{
    ViewBag.Title = "Index";
}

<div class="panel">
    <div id="content-index-est" class="panel-body">
        <table class="table table-bordered table-striped" id="tblEstudiantes">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha Nacimiento</th>
                    <th>Peso</th>
                    <th>Estatura</th>
                    <th>Grado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <div id="content-form-est"></div>
</div>
<script src="~/Scripts/Escuela/Estudiante/index.js"></script>